[MASTER]

ignore=
    .venv,
    migrations,

jobs=0

load-plugins=
    pylint_django,


[MESSAGES CONTROL]

disable=
    invalid-name,
    missing-docstring,
    too-few-public-methods,
    unused-wildcard-import,
    wildcard-import,
